/* CSS file for the main App.tsx file */
#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	background-color: rgb(20, 18, 18);
	border-radius: 50px;
	border: 1px solid rgb(101, 66, 101);
	padding: 10px;
	box-shadow: 5px 10px 18px rgb(102, 74, 116);
}

.modal {
	position: absolute;
	z-index: 1;
	left: 1;
	top: 25%;
	width: 50%;
	height: 55%;
	overflow: auto;
	background-color: #2e2c2c;
}

.modal-content {
	background-color: #888;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid black;
	width: 50%;
}
