/* CSS module for the DiscForm component */
.discForm {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: rgb(255, 255, 255);
	padding-right: 130px;
	font-size: larger;
}

input {
	border-radius: 10px;
}
