/* CSS module for the DiscList component */
.discTable {
	width: 100%;
	text-align: left;
	word-wrap: break-word;
	table-layout: fixed;
}

.tableRows {
	font-size: 18px;
}

.tableBody td {
	font-size: large;
	padding-top: 25px;
}
